
@use 'sass:map';
// Required
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');



body{
    overflow-x: hidden;
}

.custom-features-container .features-description{
    color: #4A4A4A;
    font-size: 20px;
}
.custom-features-container {
    color: #4A4A4A;
    font-weight: lighter;
}
//Custom Theme variables

$theme-colors: (
  "primary": #09BBF9,
  "secondary": #0071BC,
  "gray": #F4F4F4,
);

$font-family-base: 'Roboto', sans-serif;

$paragraph-margin-bottom: 0;
$btn-padding-y: 6px;
$btn-padding-x: 12px;


// *{
//     animation: none !important;
// }

.device-image-2{

    max-width: 100%;
    position: relative;
}


.feature h3{
    font-size: 18px;
    font-weight: 400;
}
.feature img{
    width: 40px;

}
.vh-80{
    height: 80vh;
}

.ornament{
    position: absolute;
}
.top-ornament{
    top: 0;
    right: 0;
    animation-delay: 0.5s;
    animation-duration: 2s;
}
.bottom-ornament{
    left: 0;
    bottom: 0;
    animation-delay: 0.5s;
    animation-duration: 3s;
}
.bottom-ornament-secondary{
    z-index: 1;
    animation-delay: 0.5s;
    animation-duration: 1.5s !important;
}

.fixed-nav{
    background-color: white;
}
.navbar-dark{
    path{
        fill: white;
    }
}

.navbar{
    transition: .1s;
}

.navbar-light{
    border-bottom: 1px solid #ebeaeb;
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    transition: .2s;
}
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px
) !default;


:root {
    --scrollbarBG: #CFD8DC;
    --thumbBG: map.get($theme-colors, "primary");
  }
  body::-webkit-scrollbar {
    width: 11px;
  }
  body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }
  body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
  body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
  }

  
  
.tab-button{
    padding: 6px 24px 6px 24px;
    border-bottom: solid #CCCCCC 3px ;
    color: #959595;
}
.tab-button-active, .tab-button:hover{
    color: map.get($theme-colors, "primary") !important ;
    border-color: map.get($theme-colors, "primary") !important ;
    cursor: pointer;
}

.col-border{
    background: #FFFFFF;
    border: 2px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;
    height: 100%;
}

.gray-border{
    border: 2px solid #E6E6E6;

}

.my-6{
    margin-top:5rem !important;
    margin-bottom:5rem !important;
}

.col-border:hover{
    transition: 0.5s;
    border-color: map-get($theme-colors , 'primary' ) ;
}
.col-border img{
    transition: 0.5s;

}
.feature-info{
    padding:24px 12px 24px 12px !important;
}

.info-title{
    font-size: 24px;
    color: #4A4A4A;
    margin: 0;
}


.agent-feature-1:hover{
    img{
        transform: rotate(2deg) scale(1.1);
        // transform: scale(1.1);
    }


}


.agent-feature-2 img{

    transform: rotate(-20deg);
}

.agent-app, .company-app{
    width: 0;
    position: absolute;
    z-index: 1;
    top: -50%;
    display: none ;
    // right: -175%;
}


.main-container{
    width: 100%;

}
.row{ margin-left: 0; margin-right: 0;}

.fixed{
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
}
.main-title{
    font-size: 20px;
}

.delay-05s{
    animation-duration: 0.5s;
}

.background-container{
    width: 100%;
    height: 100%;
    background: linear-gradient(65.43deg, #06ADEE 3.37%, #08BBF9 25.83%, #06ACED 58.47%, #0071BC 129.9%);
    position: absolute;
    top: 0;
    right: 0;
}

 .mid-background-container{
    padding: 200px 0;
 
    max-height: 40%;
    position: relative;
    background: linear-gradient(65.43deg, #06ADEE 3.37%, #08BBF9 25.83%, #06ACED 58.47%, #0071BC 129.9%);
}
.mid-background-content{
    position: relative;
    z-index: 10;
}


.main-picture{
    top: -100px;
}
.picture-template .picture-template-item{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);
}
.cut-background{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.main-image{
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 17%, rgba(255,255,255,0) 100%) url('../img/aplicacion-MedmigoRep.png');
}
.price-item{
    border-radius: 10px;
}
.price-pill{
    border-radius: 100px;
    padding: 6px 12px;
    color: white;
    display: inline-block;
    font-size: 12px;
    background-color: map-get($theme-colors , "primary" );
}
.divider{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    height: 1px;
    margin: 12px 0;
}
.font-weight-500{
    font-weight: 500 !important;
}
.anual-price{
    font-size: 14px;
}
.row{
    padding-left: 16px;
    padding-right: 16px;
}

.w-s-50{
    width: 50%;
}

.features-container{
    background-color: lighten(map-get($theme-colors , 'secondary' ), 59%);
}
.feature-icon{
    background-color: #DFEFF4;
    border-radius: 10px;
}
.w-md-100{
    width: 100%;
}

footer{
    margin-top: 100px;
    // padding-top: 100px;
}

.z-10{
    z-index: 10;
}
footer{
    li{
        margin: 12px 0 ;
    }
}

.footer-info{
    color: white;
    background: linear-gradient(41.6deg, #06ADEE 3.37%, #08BBF9 25.83%, #06ACED 58.47%, #0071BC 129.9%);
    border-radius: 10px;
    position: relative;
    padding: 16px 32px;
    
}
.footer-bakground{
    width: 100%;
    position: absolute;
    height: 80%;
    bottom: 0;
}
.footer-info .footer-app-image{
    position: absolute;
    right: 10%; 
    width: 400px;  
}
.btn-white{
    background-color: white !important;
    color:map-get($theme-colors, "primary") !important;
}
.mockup{
    display: none;
}
.features-dropdown-items{
    display: none;
    // padding: 16px 32px;
    background-color: white;
    position: absolute;
    top: 70px;
    border-radius: 4px;
    z-index: 100;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}
.features-dropdown-items .features-dropdown-item{
    padding: 18px;
    // margin: 6px;
}
.features-dropdown-item:hover{
    background-color: lighten(map-get($theme-colors , 'secondary' ), 59%);

}
.nav-item{
    text-align: center;
}

// .top-arrow{
//     position: absolute;
//     top: -10px;
//     left:  20px;
//     background-color: white;
//     width: 24px;
//     height: 24px;
//     border-radius: 4px;
//     transform: rotate(45deg);
// }
.features-dropdown:hover{
    .features-dropdown-items{
        display: flex;
        cursor: pointer;
    }

}
// .first-element:hover ~ .top-arrow{
//         background-color: lighten(map-get($theme-colors , 'secondary' ), 59%)
// }
// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .info-title{
        font-size: 32px;

    }
    .feature-info{
        padding:24px 36px 24px 36px !important;
    }
    .w-lg-40{
        width: 40% !important;
    }
        
    .agent-feature-2 img{
        position: relative;
        right: -50%;
        transform: rotate(-20deg);
        width: 100px;
    }
    .agent-feature-2:hover{
        img{
            transition: 0.5s;
            right: -40%;
            transform: rotate(-10deg);
        }
    }

  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
     .main-title{
         font-size: auto;
     }
    //  *{
    //     animation: auto !important;
    // }


  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .nav-item{
        text-align: left;
    }
   .navbar-dark{
       padding-top:32px !important;
       padding-bottom:32px !important;
       
   }
   .navbar-light{
       padding-top:16px !important;
       padding-bottom:16px !important;
       
   }
    .agent-app, .company-app{
        right: -175%;
        width: 140%;
    }

    .background-container{
        clip-path: polygon(0 0, 100% 0, 100% 30%, 0% 100%);

    }
    .w-lg-100{
        width: 100% !important;
    }
    .vh-md-100{
        height: 100vh;
    }
    .main-title{
        font-size: 2.5rem;
    }
    .device-image-2{
        position: absolute;
        right: -55%;
        max-width: 100%;
    }
    .position-lg-absolute{
        position: absolute !important;
    }
    .w-lg-50{
        width: 50% !important;
    }
    .footer-info{
        padding: 54px 125px;

    }
    .mockup{
        display: block;
    }

 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .agent-app, .company-app{
        right: -140%;
    }
    .company-app{
        top: -100%;
    }

  }


@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// Optional
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/code";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/bootstrap.scss";


